.banner-link {
    align-self: center;
    width: auto;
    height: 200px;
    margin: 20px auto;
    cursor: default;
    overflow: hidden;
}
.banner {
    object-fit: contain;
    object-position: center -90px;
    cursor: pointer;
}

@media (max-width:767px){
    .banner-link {
        width: 95%;
        overflow: hidden;
    }
    .banner {
        object-position: -120px -90px;
    }
}

@media (max-width: 1500px){
    .banner {
        object-position: -100px -90px;
    }
}

@media (max-width: 1650px) {
    .banner-link {
        width: 98%;
    }
}