.banner-link {
    align-self: center;
}
.banner {
    text-align: left;
    width: 1250px;
    height: 190px;
    background-color: green;
    margin: 20px 0;
    padding-left: 250px;
    background-image: url("../images/puma_brandbanner_1600x400\ \(1\).png");
    background-size:cover;
    background-position: 0;
}

@media only screen and (max-width:1300px){
    .banner {
        width: 90vw;
    }
}

@media only screen and (max-width:900px){
    .banner {
        width: 80vw;
    }
}

@media only screen and (max-width:700px){
    .banner {
        width: 70vw;
    }
}