.dropdown {
    display: flex;
    background-color: rgb(241, 241, 241);
    justify-content: center;
    width: 100%;
}

#dropdown-list {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-evenly;
    margin: 16px 0;
    
}

#dropdown-item {
    min-width: 150px;
    font-weight: 500;
    text-wrap: nowrap;
    text-align: center;
    font-size: large;
    margin: 0;
}

#dropdown-item a:hover {
    color:cornflowerblue;
}

@media (max-width: 1000px){
    #dropdown-list{
        overflow-x: scroll;
    }

    #dropdown-item{
        font-size: medium;
    }
}

@media only screen and (max-width: 767px) {
    #dropdown-list {
        justify-content: space-between;
    }
}

