.main {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-self: center;
    overflow: hidden;
    background-color: white;
}

.results {
    margin-top: -25px;
    margin-bottom: 0;
    padding: 0;
}

.loading {
    margin: auto;
}

.rowDivider {
    animation: fadeIn 1s ease forwards;
}

.error {
    display: flex;
    align-items: center;
}

.error img {
    height: 50px;
}

.error p {
    font-size: large;
}

@media (min-width: 1500px) {
    .main {
        width: 1340px;
        margin: auto;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}