.main {
    width: 1500px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rowDivider {
    overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
    .rowDivider {
        overflow-x: scroll;
    }
}