.navbar {
    display:flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

#links-and-buttons{
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.navbar-links {
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    width: 300px;
    padding: 0;
}

.navbar-links li {
    width: 10px;
    font-size: large;
    font-weight: 475;
}

#branding {
    text-align: center;
    padding: 0 2rem;
    width: 145px;
}

#branding h1 {
    cursor:pointer;
}

@keyframes lightUpFadeOut {
    0% {
        color:black;
    }
    50% {
        color: cornflowerblue;
    }
    99% {
        color: black;
    }
}

.letter {
    font-size: 2rem;
    animation: lightUpFadeOut 1.5s forwards;;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.letter:hover {
    color:cornflowerblue;
}

#search-bar {
    height: 40px;
    width: 70vw;
    min-width: 20vw;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: large;
    font-weight: light;
    background-color: rgb(251, 255, 255);
}

.buttons {
    display: flex;
}

.button {
    height: 32px;
    width: 75px;
    font-size:medium;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid black;
}

.login {
    background-color: white;
    margin-left: 20px;
    transition: background-color 0.5s ease;
}

.login:hover {
    background-color: black;
    color: white;
}

.signup {
    background-color: black;
    color: white;
    width: 90px;
    text-wrap:nowrap;
}

.menu {
    display: none;
}

.search-bar-small{
    display: none;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@media (max-width: 767px){
    .menu{
        display: flex;
    }

    #search-bar{
        display: none;
    }

    #links-and-buttons{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 87px;
        width: 100%;
        height: calc(100vh - 87px);
        background-color: white;
        z-index: 10;
        overflow-y: auto;
    }

    .navbar-links{
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li{
        border: 1px solid lightgray;
        text-align: center;
        width: 100%;
        margin: 5px 0;
    }
    
    #branding{
        text-align: center;
        margin: auto;
    }

    .search-bar-small{
        display: flex;
        height: 40px;
        width: 40px;
        cursor: pointer;
        margin: 0 10px;
    }
}