.navbar {
    position: sticky;
    display: flex;
    width: 100%;
    border-bottom: 1px solid lightgray;
    height: 70px;
    align-items: center;
    justify-content: center;
    top:0;
    z-index: 20;
}

#navbar-items {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#branding, #github{
    text-align: center;
    padding: 0 0.5rem;
    width: 145px;
}

#hamburger-menu {
    display: none;
}

#branding h1 {
    cursor:pointer;
    transition: color 0.5s ease;
}

#branding h1:hover {
    color:cornflowerblue;
}

#search-bar {
    height: 40px;
    width: 60vw;
    min-width: 10vw;
    border: 1px solid lightgray;
    padding: 0 10px;
    font-size: large;
    font-weight: light;
    background-color: rgb(251, 255, 255);
}

#github {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#github:hover{
    filter:brightness(-75%);
}

.menu {
    display: none;
}

.search-bar-small{
    display: none;
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

@media (max-width: 767px){
    #hamburger-menu{
        display: flex;
    }

    #hb-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        position: fixed;
        top: 75px;
        width: 100%;
        height: calc(100vh - 70px);
        background-color: white;
        z-index: 10;
        overflow-y: auto;
        animation: hamburgerSlide 0.2s ease-out;
    }

    #dropdown-list-hb {
        list-style: none;
        font-size: x-large;
        line-height: 3.7rem;
        text-align: center;
        padding: 0;
    }

    #github-hb {
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    #search-bar{
        display: none;
    }
    
    #github{
        display: none;
    }

    .search-bar-small{
        display: flex;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    #branding{
        margin: auto;
    }
}

@media (max-width:1870px){
    .navbar{
        justify-content: left;
    }
    #search-bar{
        width: 80vw;
    }
}

@keyframes hamburgerSlide {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}