.row {
    display: grid;
    width: 100%;
    gap: 20px;
    padding: 0px 5px;
    grid-template-columns: repeat(6, 1fr);
    overflow-x: auto;
}



@media (max-width: 767px) {
    .row {
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}